<%= form_with(model: recorrido, local: true) do |form| %>
  <% if recorrido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recorrido.errors.count, "error") %> prohibited this recorrido from being saved:</h2>

      <ul>
      <% recorrido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :recorrido_nombre %>
  </div>
    <div align="center">
      <%= link_to_add_association 'Añadir Vehiculo', form, :vehiculos,
                                  'data-association-insertion-node' => "#vehiculos-pasajero ol",
                                  'data-association-insertion-method' => "append",
                                  :wrap_object => Proc.new {|vehiculo| vehiculo.build_pasajero; vehiculo }%>
      <hr/>

      <fieldset id="vehiculos-pasajero">
        <ol>
          <%= form.fields_for :vehiculos do |vehiculo| %>
              <%= render partial: "vehiculo_fields", locals: { f:vehiculo } %>
          <%end%>
        </ol>
      </fieldset>

    </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
